body {
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
  background: linear-gradient(to bottom right, #87d9fc, #87d9fc);
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coming-soon-container {
  text-align: center;
  color: #0a3d62;
}

.logo {
  width: 120px;
  margin-bottom: 20px;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 30px;
  color: #333;
}


html {
  scroll-behavior: smooth;
}

@media (max-width: 768px) {
  .hero-section {
    flex-direction: column;
    text-align: center;
  }

  .hero-image {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }

  .hero-text {
    font-size: 1.2rem;
    padding: 1rem;
  }
}


